body{
    background: linear-gradient(to right, rgba(226, 81, 33, 0.487), rgba(79, 239, 186, 0.441));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0;
}

/* nav */
.nav-container3 {
    position: absolute;
    margin: 0;
    width: auto;
}

.topnavs {
    display: inline-block;
    overflow: hidden;
    background-color: bisque;
}


.topnavs a {
    float: left;
    color: rgb(131, 12, 12);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnavs a:hover {
    background-color: rgb(131, 12, 12);
    color: bisque;
}

.topnavs>.skogelefant {
    background-color: rgb(131, 12, 12);
    color: bisque;
}

.input {
    padding: 15px;

}

/* content */

.content {
    padding-top: 60px;
}

/* table */

table {
    width: auto;
    border-collapse:collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid  rgb(131, 12, 12);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color:  rgb(131, 12, 12);
    color: bisque;
}

.table-bilde{
    display: inline-flex;
    justify-content: space-between;
}

.img-afr {
    margin-left: 100px;
    margin-top: 50px;
    height: 500px;
    width: 80%;
}

header {
    background-color: rgb(131, 12, 12);
    color: bisque;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

header h1 {
    font-size: 3em;
    margin: 0;
    letter-spacing: 2px;
    animation: fadeIn 2s ease;
}


header p {
    font-size: 1.2em;
    margin-top: 10px;
    animation: fadeIn 3s ease;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to { opacity: 1;}
}

section {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    animation: slideIn 1s ease forwards;
    opacity: 0;
}

section h2 {
    font-size: 2.0em;
    color: black;
    animation: slideIn 1.5s ease forwards;
}

section table {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: slideIn 2s ease;
}

section .img-afr {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: slideIn 2.5s ease;
}


@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* footer */
footer {
    text-align: center;
    background-color: rgb(112, 10, 10);
    color: bisque;
    padding: 20px 0;
}